<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/header :: header-css"/>
	<title>Products</title>

</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<div th:replace="fragments/header :: header"></div>
		<div th:replace="fragments/header :: drawer"></div>
		<main class="mdl-layout__content">
		<div class="page-content">
			<h3>Product List</h3>			   
			<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Id</th>
                  <th>Name</th>
                  <th>Stock</th>
                  <th>Price</th>
                  <th>Available</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
					<tr th:each="p : ${products}">
						<td th:text="${p.id}">Id</td>
						<td th:text="${p.name}">Name</td>
						<td th:text="${p.stock}">Stock</td>
						<td th:text="${p.price}">Price</td>
						<td th:text="${p.available}">Available</td>
						<td><a th:href="${'/product/edit/' + p.id}">
								<button
									class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
									<i class="material-icons">edit</i>
								</button>
							</a> 
							<a th:href="${'/product/delete/' + p.id}">
								<button	class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
									<i class="material-icons">delete</i>
								</button>
							</a>
						</td>
					</tr>
	<!-- 				<tr>
						<a th:href="${'/products/add'}"	>
							<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
								<i class="material-icons">add</i>
							</button>
						</a>
					</tr> -->
				</tbody>              
            </table>
		</div>
		
		
		
		</main>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

</body>
</html>
