<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/header :: header-css"></div>
	<title>Products</title>

</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<div th:replace="fragments/header :: header"></div>
		<div th:replace="fragments/header :: drawer"></div>
		<main class="mdl-layout__content">
		<div class="page-content">
			<h3>Products List</h3>
			
			<table>
				<tr th:each="product: ${products}">
					<td th:text="${product.id}">Id</td>
					<td th:text="${product.stock}">Stock</td>
					<td th:text="${product.price}">Price</td>
					<td th:text="${product.car.brand}+' '+${product.car.model}">Car
						Id</td>
				</tr>
			</table>
		</div>
		</main>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

</body>
</html>
