<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User List</title>
      <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<div th:replace="fragments/header :: header"></div>
		<div th:replace="fragments/header :: drawer"></div>
		<main class="mdl-layout__content">
			<div class="page-content">
			<h3 th:if="${link} == 'user'">User List</h3>			   
			<h3 th:if="${link} == 'admin'">Admin List</h3>
			<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
              <thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Active</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user[0].userdetail.name +' '+user[0].userdetail.lastName}"></td>
				<td th:text="${user[0].email}"></td>
				<div th:if="${link} == 'user'">
					<div th:if="${user[0].active == 1}">
						<td th:text="Yes"></td> 
						<td><a th:href="${'/users/active/'+ user[0].id}">
								<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
								Detactive</button>
							</a>
						</td>
					</div>
					<div th:if="${user[0].active == 0}">
						<td th:text="No"></td>
						<td><a th:href="${'/users/active/'+ user[0].id}">
								<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
								Activate</button>
							</a>
						</td>
					</div>		
				</div>	
				<div th:if="${link} == 'admin'">
					<div th:if="${user[0].active == 1}">
						<td th:text="Yes"></td> 
						<td><a th:href="${'/admins/active/'+ user[0].id}">
								<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
								Detactive</button>
							</a>
						</td>
					</div>
					<div th:if="${user[0].active == 0}">
						<td th:text="No"></td>
						<td><a th:href="${'/admins/active/'+ user[0].id}">
								<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
								Activate</button>
							</a>
						</td>
					</div>		
				</div>			
			</tr>
		</tbody>            
            </table>
		</div>
		</main>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>