<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header-css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet"
		href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/main.css">
</head>
<body>
			<header class="mdl-layout__header" th:fragment="header">
				<div class="mdl-layout__header-row" th:fragment="header_row">
					<!-- Title -->
					<a href="/" class="mdl-layout-title mdl-navigation__link">RMS</a> <span
						sec:authorize="isAuthenticated()"> Welcome <span
						sec:authentication="name"></span> | Roles: <span
						sec:authentication="principal.authorities"></span>
					</span>
					<!-- Add spacer, to align navigation to the right -->
					<div class="mdl-layout-spacer"></div>
					<!-- Navigation -->
					<nav class="mdl-navigation">
							<!-- user role -->
							<a sec:authorize="!hasAnyAuthority('ADMIN','SUPER_ADMIN')" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/cart">
							<i class="material-icons">shopping_cart</i></a>
							
							<!-- All Role  -->
							<a sec:authorize="isAuthenticated()"  class="mdl-navigation__link" href="/logout">Log Out</a> 							
						
							
						<a sec:authorize="!isAuthenticated()"
							class="mdl-navigation__link" href="/login">Login</a>
					</nav>
				</div>
			</header>
			
			<div class="mdl-layout__drawer" sec:authorize="isAuthenticated()" th:fragment="drawer">
				<span class="mdl-layout-title">RMS</span>
				<nav class="mdl-navigation">
					<!-- User Role Only-->
					<a sec:authorize="hasAuthority('USER')" class="mdl-navigation__link" href="/cart">Cart</a>
					
					<!-- Super Admin Role Only -->
					<a sec:authorize="hasAuthority('SUPER_ADMIN')" class="mdl-navigation__link" href="admins">Admin</a>
					
					<!-- Admin and Super Admin Role -->
					<a sec:authorize="hasAnyAuthority('ADMIN','SUPER_ADMIN')" class="mdl-navigation__link" href="/users">User</a>
					<a sec:authorize="hasAnyAuthority('ADMIN','SUPER_ADMIN')" class="mdl-navigation__link" href="/vehicle/list">Vehicle</a>
					<a sec:authorize="hasAnyAuthority('ADMIN','SUPER_ADMIN')" class="mdl-navigation__link" href="/product/list">Product</a>
					
					<!-- All Role  -->
					<a class="mdl-navigation__link" href="/setting">Setting</a>
					<a class="mdl-navigation__link" href="/logout">Log Out</a>
				</nav>
			</div>
</body>
</html>