<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<div th:replace="fragments/header :: header-css"/>
	<title>Cart</title>
	
</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<div th:replace="fragments/header :: header"></div>
		<div th:replace="fragments/header :: drawer"></div>
		<main class="mdl-layout__content">
		<div class="page-content">
			<h3>Cart List</h3>
			<span th:if="${#lists.size(cart.cartItems) == 0}">Cart is empty</span>	   
			<div th:if="${#lists.size(cart.cartItems) != 0}" th:each="item: ${cart.cartItems}">
				<span th:text="${item.product.name}"></span>
				<span th:text="${item.itemNum}"></span>
				<span th:text="${item.itemPrice}"></span>
				<div th:each = "v : ${item.vehicles}">
					<span th:text="'-'+${v.brand}+' '+${v.model}+' '+${v.type}"></span>
				</div>
			</div>
		</div>
		</main>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>