 .mdl-layout {
	align-items: center;
  	justify-content: center;
}

.box-center {
	align-items: center;
  	justify-content: center;
}

.mdl-layout__content {
	padding: 24px;
 	flex: 1 0 auto; 
	flex: none;
}

.mdl-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer{
	align-items :center;
	justify-content: center;
}  

.validation-message{
	font-color : red;
}

.demo-layout-transparent {
  background-color: #006be5;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  This background is dark, so we set text to white. Use 87% black instead if
     your background is light.
  color: white;
}

.demo-card-square.mdl-card {
	width: 300px;
	height: 300px;
	float: left;
	margin: 1rem;
	position: relative;
}

.demo-card-square.mdl-card:hover {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px
		rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.demo-card-square>.mdl-card__title {
	/* color: #fff; */
	/* background: #03a9f4; */
	/* background:url('../../assets/innova_venturer.jpg') bottom right 15% no-repeat #46B6AC; */
	background-image: '../../assets/innova_venturer.jpg';
}

.demo-card-square>.mdl-card__accent {
	background: #ff9800;
}