<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
      <title>Cars</title>
      <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<div th:replace="fragments/header :: header"></div>
		<div th:replace="fragments/header :: drawer"></div>
		<main class="mdl-layout__content">
			<div class="page-content">
			<h3>Cars List</h3>
						<!-- <div th:if="${}">
				    Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
				    <form th:action="@{/logout}" method="POST">
				         <input type="submit" value="Logout"/>
				    </form>
			   </div> -->
			<br /> <a th:href="${'/cars/add'}"><button>Add</button></a>
			<table>
				<tr th:each="car: ${cars}">
					<td th:text="${car.id}">Id</td>
					<td th:text="${car.brand}">Brand</td>
					<td th:text="${car.model}">Model</td>
					<td th:text="${car.type}">Type</td>
					<td><a th:href="${'/cars/edit/' + car.id}"><button>Edit</button></a>
						<a th:href="${'/cars/delete/' + car.id}"><button>Delete</button></a>
					</td>
				</tr>
			</table>
		</div>
		</main>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
	
   
</body>
</html> 